format = """
$username\
$hostname\
$directory\
$git_branch\
$git_status\
$line_break\
$character"""

[username]
style_user = "green bold"
format = "[$user]($style)"
show_always = true

[hostname]
ssh_only = false
format = "@[$hostname](green bold): "

[directory]
style = "cyan bold"
truncation_length = 0
truncate_to_repo = false

[git_branch]
style = "red bold"
format = "[$symbol$branch]($style) "

[git_status]
style = "red"
format = '([$all_status$ahead_behind]($style))'
conflicted = "="
ahead = "⇡${count}"
behind = "⇣${count}"
diverged = "⇕⇡${ahead_count}⇣${behind_count}"
untracked = "?"
stashed = "\\$"
modified = "!"
staged = "+"
renamed = "»"
deleted = "✘"

[character]
success_symbol = "[\\$](white)"
error_symbol = "[\\$](red)"
